---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "A type foundry specializeing in programming fonts"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL('/og-image.png', Astro.url)} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL('/og-image.png', Astro.url)} />
	</head>
	<body class="bg-black text-gray-50">
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: '0xProto';
		src: url(/0xProto-Regular.woff2);
	}

	body {
		font-family: '0xProto', system-ui, sans-serif;
		line-height: 1.5;
		font-size: calc(1rem + .25vw);
	}
</style>